* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

body {
	background-color: black;
}

html {
	background: rgb(0,0,0);
	font-family: 'Poppins', sans-serif;
	font-family: 'Righteous', cursive;
}

.header {
	position: static;
    top: 0;
	width: 100%;
	height: 40vh;
	display: flex;
	justify-content: center;
	align-items: center;

}

.footer {
	position: relative;
	top: 40vh;
	height: 7vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: black;
	color:rgb(192, 192, 192);
	text-decoration: none !important;
	font-size: 2vh;
}

.name {
	font: 'Righteous';
	position: static;
	font-size: 3vh;
	text-align: center;
	color: white;
	animation: fadeIn 5s;
}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

.planets {
	position: fixed;
	top: 40vh;
	width: 100%;
	height: 100vh;
	background-image: url("./ressources/system.png");
	background-repeat: no-repeat;
	background-position: top;
	background-size: 90vh;
}

.interests {
	position: relative;
	top: 40vh;
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(39, 39, 39, 0.3);
	-webkit-backdrop-filter: blur(2vh);
  	backdrop-filter: blur(2vh);
}

.inner-inerests {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
	color: white;
	font-family: 'Poppins';
	font-size: 2vh;
}

.interests-sections {
	height: 25vh;
	width: 50%;
	background-color: rgba(22, 22, 22, 0.6);
	border-radius: 2vh;
	filter: drop-shadow(0px 0px 1.5vh rgb(0, 0, 0));
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: rgb(192, 192, 192);
	font-family: 'Righteous';
}

.card {
	/* border: 0.2vh solid #ffffff; */
	background-color: transparent;
	border: none;
	cursor: pointer;
	position: relative;
	border-radius: 2vh;
	width: 100%;
	height: 100%;
}

.card:hover:before {
	background-position: 100% 100%;
	transform: scale(1.02, 1.05);
}

.card:hover > .card-content {
	background-position: -6% 0%;
	font-size: 1.8vh;
}

.card:before {
	background: linear-gradient(
	  130deg, 
	  transparent 0% 33%, 
	  rgb(0, 0, 0) 66%, 
	  rgb(49, 49, 49) 83.5%, 
	  rgb(96, 97, 97) 100%
	);
	background-position: 0% 0%;
	background-size: 300% 300%;
	border-radius: 3vh;
	content: "";
	height: 100%;
	left: 0px;
	pointer-events: none;
	position: absolute;
	top: 0px;
	transition: background-position 350ms ease, transform 350ms ease;
	width: 100%;
	z-index: 1;
}

.card-content {
	background-image: radial-gradient(
	  rgba(255, 255, 255, 0.2) 8%, 
	  transparent 8%
	);
	background-position: 0% 0%;
	background-size: 5vmin 5vmin;
	height: calc(100% - 10vmin);
	padding: 5vmin;
	position: relative;
	transition: background-position 350ms ease;
	width: calc(100% - 10vmin);
	z-index: 2;
	font-family: 'Righteous';
	font-size: 1.5vh;
	color: white;
	text-align: left;
	transition-timing-function: ease-in;
	transition: 0.25s;
}

/* .button {
	background-color: transparent;
	border: 0.2vh solid #ffffff;
	color: white;
	height: 30vh;
	width: 100%;
	text-align: left;
	text-indent: 6vh;
	text-decoration: none;
	display: inline-block;
	font: 'Poppins';
	font-size: 4vh;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
	border-radius: 2vh;
} */

/* .button1:hover {
	background-color: #e4b83e;
	color: white;
} */

.programming {
	
}

.illustration {

}

.music {

}

@media (max-width: 1000px) {
	.name {
		font-size: 5vw
	}

	.interests-sections {
		width: 80%;
	}
}


@import url(https://fonts.googleapis.com/css?family=Orbitron:700);

/* Stars 
------------------------------------- */

#space, .stars {
	overflow: hidden;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.stars {
	position: fixed;
	height: 100%;
	width: 100%;
	background-image:	 
    radial-gradient(1px 1px at 20px 30px, #eee, rgba(0,0,0,0)),
    radial-gradient(1px 1px at 40px 70px, #fff, rgba(0,0,0,0)),
    radial-gradient(1px 1px at 50px 160px, #ddd, rgba(0,0,0,0)),
    radial-gradient(1px 1px at 90px 40px, #fff, rgba(0,0,0,0)),
    radial-gradient(1px 1px at 130px 80px, #fff, rgba(0,0,0,0)),
    radial-gradient(1px 1px at 160px 120px, #ddd, rgba(0,0,0,0));
	background-repeat: repeat;
	background-size: 200px 200px;
	animation: zoom 40s infinite;
	opacity: 0;
}

.stars:nth-child(1) {
	background-position: 50% 50%;
	animation-delay: 0s;
}
.stars:nth-child(2) {
	background-position: 20% 60%;
	animation-delay: 10s;
}
.stars:nth-child(3) {
	background-position: -20% -30%;
	animation-delay: 20s;
}
.stars:nth-child(4) {
	background-position: 40% -80%;
	animation-delay: 30s;
}
.stars:nth-child(5) {
	background-position: -20% 30%;
	animation-delay: 39s;
}

@keyframes zoom {
	0% {
		opacity: 0;
		transform: scale(1);
		animation-timing-function: linear;
	} 
	25% {
		opacity: 0.3;
		transform: scale(1.5);
		animation-timing-function: linear;
	}
	50% {
		opacity: 0.6;
		transform: scale(2);
		animation-timing-function: linear;
	}
	75% {
		opacity: 1;
		transform: scale(2.5);
		animation-timing-function: linear;
	}
	100% {
		opacity: 0;
		transform: scale(3);
		animation-timing-function: linear;
	}
}

