* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

html {
	font-family: 'Open Sans', sans-serif;
	background: rgb(0,0,0);
	background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(1,1,32,1) 100%);
}

.header {
	position: relative;
    top: 0;
	width: 100%;
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.name {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}

.hero {
	width: 100%;
	height: 50vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.planets {
	width: 100%;
	height: 100%;
	background-image: url("./ressources/system.png");
	background-position: top;
	background-repeat: no-repeat;
	background-size: 100vh;	
}